

/* 
The first half of the page: 
- navigation bar
- self-introduction
- contact button 
*/

.navbar {
    display: flex;
    justify-content: space-between;
}


/* Navigation bar: work, play, about, resume. */
.nav {
    display: flex;
    justify-content: center;    
    gap: 20px;
    width: 40%;
    height: 350px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: lighter;
}


.nav-button:hover {
    color: rgb(189, 68, 88);
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 10px;
    
}


/* Self-introduction and contact section. */

.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    padding-left: 70px;
    padding-right:80px;
    padding-top: 0px
}

/* Logo */

.logo {
    display: flex;
    position: absolute;
    font-size: 50px;
    top: 0px;
    right: 300px
}

/* My name */

.name {
    font-size: 50px;
    font-weight: medium;
}

/* My photo */

.photo {
    display: flex;
    position: absolute;
    right: 30%;
    left: 53%;
    top: 18%
}

/* Contact button */

.contact-button {
    background-color: #c0fdff;
    font-weight: bold;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    border: none;
}

/* 
The second half of the page: 
- project navigation bar
- project section
*/

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-top: 35px;
    padding-bottom: 35px;

}

/* Project navigation bar: project 1, 2, 3 */

.portfolio_nav {
    display: flex;
    height: 40%;
    width: 40%;
    flex-wrap: wrap;
    gap: 10px;

}

/* Each bar within the project navigation bar. */ 
.project_bar {
    display: flex;
    height: 50px;
}

/* Project section: image, name, and description */

.project {
    display: flex;
    height: 40%;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styling the project sections. */

.project_style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background-color: #ffdbf6;
    font-family: "Gill Sans", sans-serif;
    color: #9a58f0;
    font-weight: lighter;
}

.project_style:hover {
    background-color: #fdccf1;
    color: #883de9;
    font-weight: normal;
}

/* The left side of the project section with the image. */

.left {
    display: flex;
    width: 45%; 
}

/* Image within the project section. */
.project_img {
    display: flex;
    height: 60px;
    height: 170px;
}


/* 
The right side of the project section with 
the project name and description. 
*/

.right {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 8px;
}

/* Project name */

.project_name {
    display: flex;
    height: 40px;
}

/* Project description */

.project_description {
    display: flex;
    height: 120px;
    padding-left: 5px;
    padding-right: 5px;
}


/* Color palette */

.purple_4 {
    background-color: #e2afff;
}

.purple_5 {
    background-color: #bb7be2;
}


/* Style */

.font {
    font-family: "Gill Sans", sans-serif;
}

.forty_percent {
    height: 40%;
}

.sixty_percent {
    height: 60%;
}
