
.nav {
    display: flex;


    justify-content: center;    
    gap: 20px;
    width: 40%;
    height: 350px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    padding-left: 70px;
    padding-right:80px;
    padding-top: 0px
}

.logo {
    display: flex;
    position: absolute;
    font-size: 50px;
    top: 0px;
    right: 300px
}

.name {
    font-size: 50px;
    font-weight: 55;
}


.photo {
    display: flex;
    position: absolute;
    right: 30%;
    left: 53%;
    top: 18%
}

.contact-button {
    background-color: #c0fdff;
    font-weight: bold;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    border: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-top: 35px;
    padding-bottom: 35px;

}

.portfolio_nav {
    display: flex;
    height: 40%;
    width: 40%;
    flex-wrap: wrap;
    gap: 10px;

}

.project {
    display: flex;
    height: 40%;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project_style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background-color: #ffdbf6;
    font-family: "Gill Sans", sans-serif;
    color: #9a58f0;
    font-size: medium;
}

.project_bar {
    display: flex;
    height: 50px;
}

.left {
    display: flex;
    width: 45%; 
}

.right {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 8px;
}

.project_img {
    display: flex;
    height: 60px;
    height: 170px;
}

.project_name {
    display: flex;
    height: 40px;
}

.project_description {
    display: flex;
    height: 120px;
}

.font {
    font-family: "Gill Sans", sans-serif;
}

.forty_percent {
    height: 40%;
}

.sixty_percent {
    height: 60%;
}

/* Color palette */

.pink {
    background-color: #ffcbf2;
}

.purple_1 {
    background-color: #f3c4fb;
}

.purple_2 {
    background-color: #ecbcfd;
}

.purple_3 {
    background-color: #e5b3fe;
}

.purple_4 {
    background-color: #e2afff;
}

.purple_5 {
    background-color: #bb7be2;
}

.purple_6 {
    background-color: #d8bbff;
}

.blue_1 {
    background-color: #d0d1ff;
}

.blue_2 {
    background-color: #c8e7ff;
}

.blue_3 {
    background-color: #c0fdff;
}

.white {
    background-color: whitesmoke;
}

/* Style */

.round_border {
    border-radius: 10px;
}

